# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# pytest
.pytest_cache/
.coverage
htmlcov/

# AWS SAM
.aws-sam/
samconfig.toml

# macOS
.DS_Store

# IDE
.vscode/
.idea/
